body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    color: blanchedalmond;
}
.h1{
  position: absolute;
  left: 0%;
  
}

.main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

header{
    color:blanchedalmond;
    text-align: center;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid-container {
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    background-color: lightblue;
    padding: 10px;
    /* justify-content:space-around  */
    justify-content: space-between;
    row-gap: 60px;
 
    
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
    
    
  }

.grid-item-horror{
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;
      animation-name: Horror;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      width: 100;
      height: 100;

      background-color: black;
      font-size: 30px;
      padding: 100px;
      text-align: center;
      border: cornflowerblue;
      border-width: 5px;
      border-style: solid;
      
  }
 @keyframes  Horror{
      0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx11111-Y4QgkX8gJQCa.png);}
      25% {background-image: url(https://bestsimilar.com/img/movie/thumb/dc/59269.jpg);}
      75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx6880-4aWqFNTwzqp0.png);}
      100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx11111-Y4QgkX8gJQCa.png);}
      }


.grid-item-comedy{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    animation-name: Comedy;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    background-color: black;
    font-size: 30px;
    padding: 100px;
    text-align: center;
    border: cornflowerblue;
    border-width: 5px;
    border-style: solid;
  }

  @keyframes Comedy {
    0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx14741-MI3STWwE0bQH.jpg);}
    25% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21776-FJiPcLQHeTiV.png);}
    75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg);} 
    100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx14741-MI3STWwE0bQH.jpg);}
  }
.grid-item-fantasy{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    animation-name: Fantasy;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    background-color: black;
    font-size: 30px;
    padding: 100px;
    text-align: center;
    border: cornflowerblue;
    border-width: 5px;
    border-style: solid;
}
@keyframes Fantasy {
  0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx33-CTtcRjqe7UnM.jpg);}
  25% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx20920-3x2KtyeYQmaR.jpg);}
  75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21202-TfzXuWQf2oLQ.png);}
  100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx33-CTtcRjqe7UnM.jpg);}
  
}

.grid-item-action{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  animation-name: Action;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  background-color: black;
  font-size: 30px;
  padding: 100px;
  text-align: center;
  border: cornflowerblue;
  border-width: 5px;
  border-style: solid;
  }
  @keyframes Action {
    0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx121-JUlbsyhTUNkk.png);}
    25% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx3588-CA8LE5gjm9Qx.png);}
    75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx101165-dVgOyGhEP4mB.jpg);}
    100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx121-JUlbsyhTUNkk.png);}
    
  }
  

.grid-item-drama{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
    grid-template-rows: 90% 10%;
    animation-name: Drama;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    background-color: black;
    font-size: 30px;
    padding: 100px;
    text-align: center;
    border: cornflowerblue;
    border-width: 5px;
    border-style: solid;
}
@keyframes Drama {
  0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx2167-GNYaoI8DTcx4.png);}
  25% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx20954-RYEF5mWglzV8.png);}
  75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx9989-qCd2RgAL0P8I.png);}
  100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx2167-GNYaoI8DTcx4.png);}
}


.grid-item-sliceoflife{
  display: grid;
  grid-column: 3/4;
  grid-row: 2/3;
  animation-name: SliceOfLife;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  background-color: black;
  font-size: 30px;
  padding: 100px;
  text-align: center;
  border: cornflowerblue;
  border-width: 5px;
  border-style: solid;
}
@keyframes SliceOfLife {
  0% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx5680-Xh6B67KuZ2PU.png);}
  25% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx97592-2m8qtzJLuGY3.jpg);}
  75% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx12291-NKo7qYW674Wo.jpg);}
  100% {background-image: url(https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx5680-Xh6B67KuZ2PU.png);}
}
.href{
  position: absolute;
  bottom: 0%;
}
footer{
  position: relative;
}

.red-text{
  color: red;
}
.action-text{
  color: rgb(70, 59, 59);
}
.fantasy-text{
  color: blueviolet;
}
.comedy-text{
  color: burlywood;
}
.drama-text{
  color: rgb(79, 119, 106);
}
.sOL-text{
  color: blanchedalmond;
}