<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Review Dudes</title>
</head>
<body>
<div class="container">
<header>
  <h1>The Anime Review Dudes WebSite</h1>
  <nav class="nav-bar" id="nav-bar">
      <li>
        <a class="nav-link" href="../static/about.html"
            th:href="@">About us</a>
      </li>
      <li>
        <a class="nav-link" href="../static/hashtag.html">Hash Tags</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="category" id="category">
  <h2>Anime Categories:</h2>
  <ul th:each="category:${category}">
<!--    <li><a href="../static/horror.html">Horror</a></li>-->
<!--    <li><a href="../static/comedy.html">Comedy</a></li>-->
<!--    <li><a href="../static/fantasy.html">Fantasy</a></li>-->
<!--    <li><a href="../static/action.html">Action</a></li>-->
<!--    <li><a href="../static/drama.html">Drama</a></li>-->
<!--    <li><a href="../static/sliceoflife.html">Slice of Life</a></li>-->
        <li th:text="${category.name}">Text</li>
  </ul>
  </div>
</main>
<footer><small>Got3 WCCI 2021</small></footer>
</div>
</body>
</html>