<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Anime Review Dudes</title>
</head>
<body>
<div class="container">
  <header>
    <h1 th:text="${hashtag.name}">Hashtag Section</h1>
  </header>
  <main>
    <h2>Pick the anime with the tag you chose!</h2>
    <ul th:each="anime:${hashtag.anime}"><a th:href="'/anime/' +${anime.title}" th:text="${anime.title}"></a></ul>
  </main>
</div>
</body>
</html>