<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <title>Anime Review Dudes</title>
</head>
<body>
<div class="container">
    <header>
        <h1 th:text="${category.name}">Section Name</h1>
    </header>
    <main>
        <h2>Check out the following titles and reviews!</h2>
        <p th:text="${category.description}"></p>
        <ul th:each="anime:${category.anime}"><a th:href="'/anime/'+ ${anime.title}" th:text="${anime.title}"></a>

        </ul>
        <a th:href="@{/HomePage}">Back to Home Page</a>
    </main>
    <footer><small>Got3 WCCI 2021</small></footer>
</div>
</body>
</html>