<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Review Dudes</title>
</head>
<body>
<div class="container">
  <header>
    <h1>Anime Review Dudes Presents:</h1>
  </header>
  <main>
    <h2 th:text="${anime.title}">Title</h2>
    <h3 th:text="${anime.studioName}">Studio</h3>
    <img th:src="${anime.imageUrl}">
    <p th:text="${anime.description}">General Description</p>
    <a href="./HomePage.html">Back to Home Page</a>
  </main>
</div>
</body>
</html>